    <div ng-controller="navTabsCtrl" class="col-md-12">
    <nav class="navbar navbar-default navbar-fixed-top"  >
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/summary"><img src="img/logo_priv.png" ></a>
        </div>

          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li ><a index="0" ng-click="defaultTab()"> Home</a></li>
              <li ng-repeat="liTab in navTabs" ><a index="$index + 1" ng-click="onClickTab(liTab)">{{liTab.title}}</a></li>
              <li index="4" ><a ng-controller="summaryPageCtrl" ng-click="signout()"> Sign Out</a></li>
            </ul>
          </div>
      </div>

    </nav>

  </div>

<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text-center">
		<img src="img/finotree.png" style="height:70px; margin:10px auto;"><br/>
		<p class="padding" style="font-size: 18px; color: #adadad;"><b>FinoZen</b><br/></p>
		<div class="row aboutus_icon_block ">
			<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 ">
				<a href="#" onclick="window.open('https://www.facebook.com/FinoZen-1709979945889634/?ref=hl', '_blank', 'location=yes'); return false;"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4  social_icon">
				<a href="#" onclick="window.open('https://twitter.com/finozen1?lang=en', '_blank', 'location=yes'); return false;"><i class = "fa fa-twitter-square fa-lg"></i></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4  social_icon">
				<a href="#" onclick="window.open('https://www.linkedin.com/company/finozen?trk=biz-companies-cym', '_blank', 'location=yes'); return false;"><i class = "fa fa-linkedin-square fa-lg"></i></a>
			</div>
		</div>

	</div>
	<div class="padding col-md-10 col-sm-10 col-xs-10 col-lg-10   aboutus_item">
		<p>
		FinoZen aims to revolutionize personal investing habits in India. We realize that most Indians aren’t regular investors and our money lies idle in bank accounts. To solve this problem, we created FinoZen using which you can invest your money in just one click and get returns everyday. While your money remains completely safe you can also withdraw this without penalty any time.
		</p>
		<p>We are a bunch of IIT and IIM graduates with cumulative experience of 25 years+ in financial services.
		</p>
		<p>In compliance with SEBI regulations, FinoZen is an AMFI registered Mutual Fund Distributor with ARN No. 107100. 
		</p>
	</div>
</div><br/><br/><br/><br/>
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text-center">
		<img src="img/varun.png" style="margin-top: 3px;"><br/>
		<p class="padding item_role">VARUN</p>
		<p class="padding item_role">CEO</p>
		<div class="row aboutus_icon_block ">
			<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 ">
				<a href="#" onclick="window.open('https://www.facebook.com/varunsunnygupta?fref=ts', '_blank', 'location=yes'); return false;"><i class = "fa fa-facebook-square  fa-lg"></i></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4  social_icon">
				<a href="#" onclick="window.open('https://twitter.com/varunsunnygupta', '_blank', 'location=yes'); return false;"><i class = "fa fa-twitter-square fa-lg"></i></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4  social_icon">
				<a href="#" onclick="window.open('https://www.linkedin.com/in/varunsunnygupta', '_blank, 'location=yes'); return false;"><i class = "fa fa-linkedin-square fa-lg"></i></a>
			</div>
		</div>

	</div>
	<div class="padding col-md-10 col-sm-10 col-xs-10 col-lg-10  aboutus_item">
		<p class="padding">Varun is a graduate of IIT Madras and a certified Mutual Fund Advisor. He ensures that everyone in FinoZen is working towards providing a hassle free investing experience to our users. He is always reachable at varun@finozen.com. Please feel free to drop him an email if you ever have any query or an unsolved issue from our customer support team.
		</p>
	</div>
</div>




<div class="row aboutus_block aboutus_social">
	<div class="col-40 aboutus_bar">
	</div>
	<div class="col-40 aboutus_bar text-center">
		<div class="row aboutus_icon_block ">
			<div class="col">
				
			</div>
			<div class="col">
				
			</div>
			<div class="col">

			</div>
		</div>
	</div>
	<!--<div class="col-30 aboutus_button">
		<button class="button button-full button-positive">
			ADD MONEY
		</button>
	</div>-->
</div>
<div class="row aboutus_block aboutus_intro">
	<div class="col aboutus_bar">

	</div>
</div>
<div class="row aboutus_block aboutus_item padding aboutus_social">
	<div class="">
		
	</div>
	<div class="text-center">

	</div>
	</div>
	<div class=>
	</div>
</div>