    <div ng-controller="navTabsCtrl" class="col-md-12">
    <nav class="navbar navbar-default navbar-fixed-top"  >
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/summary"><img src="img/logo_priv.png" ></a>
        </div>

          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li ><a index="0" ng-click="defaultTab()"> Home</a></li>
              <li ng-repeat="liTab in navTabs" ><a index="$index + 1" ng-click="onClickTab(liTab)">{{liTab.title}}</a></li>
              <li index="4" ><a ng-controller="summaryPageCtrl" ng-click="signout()"> Sign Out</a></li>
            </ul>
          </div>
      </div>

    </nav>

  </div>
<div class="screen_account">
    <ion-content overflow-scroll="false" padding="false" class="has-header">
        <div class="row account_img"><img src="img/account-image.png" alt=""></div>
        <div class="row account_info" ng-controller="withdrawCtrl">
          <h2>{{clientName}} </h2>
          <p class="">{{clientMobile}} </p>
        </div>
		<div class="list">
		<a class="row item item-icon-right" style="padding:12px;">
			<div class="col ">
				<p style="color: rgb(66, 66, 66);font-size:18px">Account Type</p>
			</div>
			<div class="col">
				<p class="text-right" style="color: rgb(66, 66, 66);font-size:18px" ng-controller="withdrawCtrl"><span>{{schemeNamep}}</span></p>
			</div>
		</a>
		
		  <a class="item item-icon-right" href="#/change_pin"><i class="icon ion-ios-arrow-right"></i>Change PIN</a>
		  <a class="item item-icon-right" href="#/home" ><i class="icon ion-ios-arrow-right"></i>Sign Out</a>
		</div>

    </ion-content>

</div>
