<div ng-controller="loginChech">
    <div ng-controller="navTabsCtrl" class="col-md-12">
    <nav class="navbar navbar-default navbar-fixed-top"  >
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/summary"><img src="img/logo_priv.png" ></a>
        </div>

          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li ><a index="0" ng-click="defaultTab()"> Home</a></li>
              <li ><a class="active-now" index="1" href="#/account"> Profile</a></li>
              <li><a index="2" href="#/aboutUs"> About Us</a></li>
              <li ><a index="3" href="#/faq"> FAQ</a></li>
              <li index="4" ><a ng-controller="summaryPageCtrl" ng-click="signout()"> Sign Out</a></li>
            </ul>
          </div>
      </div>

    </nav>

  </div>
<div class="screen_account" ng-controller="withdrawCtrl">
    <div class="row account_img"><img src="img/account-image.png" alt=""></div>
 <ul class="list-group">
  <li class="list-group-item row">
    <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3" >
        <p>Name</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3" >
        <p>{{clientName}}</p>
    </div>
  </li>
  <li class="list-group-item row">
    <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3" >
        <p>Mobile Number</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3" >
        <p>{{clientMobile}}</p>
    </div>
  </li>
  <li class="list-group-item row">
    <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3" >
        <p>Account Type</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3" >
        <p>{{schemeNamep}}</p>
    </div>
  </li>
  <!--<li class="list-group-item row">
    <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3" >
        <a class="changePin" href="#/change_password">Change PIN</a>
    </div>
  </li>-->
  <li class="list-group-item row">
    <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3" >
        <button class="btn"  ng-controller="summaryPageCtrl" ng-click="signout()" >Sign Out</button>
    </div>
  </li>
</ul>

</div>
</div>
