<div ng-controller="navTabsCtrl">
<nav class="navbar navbar-default navbar-fixed-top"  >
  <div class="container">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand" href="#/home"><img src="img/logo_priv.png" ></a>
    </div>
  </div>
</nav>
</div>

<div ng-controller="imageUploadCtrl" class="text-center">

  <br/>
  <br/>
  <br/>
<div ng-hide="imgShow">

  <span>Select address proof</span>
  <select class="imageSelection"  ng-model='choice.type' required ng-options='option.value as option.name for option in choiceOptions'></select>  
 
  <button ng-click="showImg(choice)">submit</button>
</div>

<div ng-show="imgShow">
      <img ng-show="!file" ng-src={{cimageFront}}>
      <input type="file" ng-model="file" name="file" base-sixty-four-input required onload="onLoad" maxsize="300" accept="image/*">
    <br/>
  <br/>
  <br/>

    <img ng-show="file" ng-src={{"data:image/png;base64,"+file.base64}}>
</div>



<button type="button" class="button button-primary" ng-disabled="!file" ng-click="uploadImg('PA','AB')">Submit</button>


</div>