<div class="change_password" ng-controller="changeCtrl">
	<form class="input_list">
		
		<input type="password" name="newPin" ng-model="changePin.newPassword" maxlength="4" placeholder="Enter New PIN" >
		<input type="password" name="confirmNewPin"  placeholder="ReEnter New PIN" maxlength="4">
		<input type="submit" value="Submit" ng-click="resetPin(changePin)">
	</form>
</div>


<div class="change_password" ng-controller="changeCtrl">
	<form name="resetPinForm" novalidate="" ng-submit="resetPinFn(resetPinForm,resetPin,confirmPin)">
		<div class="list">
			<div  class="error" >
				<p> {{error_pin}}</p>
			</div>			
			<table class="table">
			    <tbody>
			        <tr>
				        <td class="col-md-3 text-center">Enter Old PIN</td>
				        <td class="col-md-4" >
				        	<label class="item item-input" ng-class="{ 'has-errors' : resetPinForm.oldPin.$touched && resetPinForm.oldPin.$invalid, 'no-errors' :  resetPinForm.oldPin.$touched && resetPinForm.oldPin.$valid}">
								<input type="password" name="oldPin" ng-model="resetPin.password" maxlength="4" placeholder="Enter Old PIN" required="">
							</label>
							<div class="error-container" ng-show="resetPinForm.oldPin.$error && resetPinForm.$submitted" ng-messages="resetPinForm.oldPin.$error">
								<div  class="error" >
									<div ng-message="required">You did not enter a field</div>
								</div>
							</div>
							<div class="error-container" ng-hide="resetPinForm.newPassword.$error && resetPinForm.$submitted">
								<div  class="error" ng-show="message" >
									Please enter your mobile number to reset PIN
								</div>
							</div>
				        </td><td></td>
			     	</tr>
			     	<tr>
				        <td class="text-center">Enter New 4-Digit PIN</td>
				        <td>
				        	<label class="item item-input" ng-class="{ 'has-errors' : resetPinForm.newPassword.$touched && resetPinForm.newPassword.$invalid, 'no-errors' :  resetPinForm.newPassword.$touched && resetPinForm.newPassword.$valid}">
								<input type="password" name="newPassword" ng-model="resetPin.newPassword" maxlength="4" ng-minlength="4" ng-maxlength="4" required placeholder="Enter New 4-Digit PIN" ng-pattern="/^[0-9]{1,4}$/">
							</label>
							<div class="error-container" ng-show="resetPinForm.newPassword.$error && resetPinForm.$submitted" ng-messages="resetPinForm.newPassword.$error">
								<div  class="error" >
									<div ng-message="required">You did not enter a field</div>
									<div ng-message="minlength, maxlength">New PIN must be 4 digits.</div>
									<div  ng-message="step, pattern">Enter digits only</div>
								</div>
							</div>
							<div class="error-container" ng-hide="resetPinForm.newPassword.$error && resetPinForm.$submitted">
								<div  class="error" ng-show="message" >
									Please enter your mobile number to reset PIN
								</div>
							</div>
				        </td>
			     	</tr>
			        <tr>
				        <td class="text-center">Confirm 4-Digit PIN</td>
				        <td>
				        	<label class="item item-input" ng-class="{ 'has-errors' : resetPinForm.confirmPassword.$touched && resetPinForm.confirmPassword.$invalid, 'no-errors' :  resetPinForm.confirmPassword.$touched && resetPinForm.confirmPassword.$valid}">
								<input type="password" name="confirmPassword" ng-model="confirmPin" maxlength="4" ng-minlength="4" ng-maxlength="4" required placeholder="Confirm 4-Digit PIN" ng-pattern="/^[0-9]{1,4}$/">
							</label>
							<div class="error-container" ng-show="resetPinForm.confirmPassword.$error && resetPinForm.$submitted" ng-messages="resetPinForm.confirmPassword.$error">
								<div  class="error" >
									<div ng-message="required">You did not enter a field</div>
									<div ng-message="minlength, maxlength">New PIN must be 4 digits.</div>
									<div  ng-message="step, pattern">Enter digits only</div>
								</div>
							</div>
							<div class="error-container" ng-hide="resetPinForm.confirmPassword.$error && resetPinForm.$submitted">
								<div  class="error" ng-show="message" >
									Please enter your mobile number to reset PIN
								</div>
							</div>
				        </td>
			     	</tr>
			     	<tr>
				     	<td colspan="2" class="text-center">
				     		<input type="submit" class="btn button button-positive" value="Submit">
				     	</td>
			     	</tr>

		     	</tbody>
	     	</table>
     	</div>
 	</form>
</div>

