    <div ng-controller="navTabsCtrl" class="col-md-12">
    <nav class="navbar navbar-default navbar-fixed-top"  >
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/summary"><img src="img/logo_priv.png" ></a>
        </div>

          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li ><a index="0" ng-click="defaultTab()"> Home</a></li>
              <li ng-repeat="liTab in navTabs" ><a index="$index + 1" ng-click="onClickTab(liTab)">{{liTab.title}}</a></li>
              <li index="4" ><a ng-controller="summaryPageCtrl" ng-click="signout()"> Sign Out</a></li>
            </ul>
          </div>
      </div>

    </nav>

  </div>
<div class="list-group">
<br/><br/>
	<a class="list-group-item" href="#/faq_account"><i class="icon ion-ios-arrow-right"></i>Getting started</a>
	<a class="list-group-item" href="#/faq_add"><i class="icon ion-ios-arrow-right"></i>Registration</a>
	<a class="list-group-item" href="#/faq_withdraw"><i class="icon ion-ios-arrow-right"></i>Add/Withdraw Money</a>
	<a class="list-group-item" href="#/faq_others"><i class="icon ion-ios-arrow-right"></i>Support</a>
	<a class="list-group-item" href="#/faq_fundsMethods"><i class="icon ion-ios-arrow-right"></i>Fund Selection Methodology</a>
</div>

