<div class="list">
	<a class="item item-icon-right" href="#/faq_account"><i class="icon ion-ios-arrow-right"></i>Getting started</a>
	<a class="item item-icon-right" href="#/faq_add"><i class="icon ion-ios-arrow-right"></i>Registration</a>
	<a class="item item-icon-right" href="#/faq_withdraw"><i class="icon ion-ios-arrow-right"></i>Add/Withdraw Money</a>
	<a class="item item-icon-right" href="#/faq_others"><i class="icon ion-ios-arrow-right"></i>Support</a>
	<a class="item item-icon-right" href="#/faq_fundsMethods"><i class="icon ion-ios-arrow-right"></i>Fund Selection Methodology</a>
</div>
