<div class="change_password">
	<form name="forgotPin" novalidate="" ng-submit="resetPinFn(forgotPin,resetPin,resetPin.newPassword)">
		<div class="list">
			<div  class="error" >
				<div> {{error_pin}}</div>
			</div>			
			<table class="table forgetTable">
			    <tbody>
			        <tr>
			            <td colspan="3" class="row logo zero_padding"><h5 class="padding">We have sent you an OTP on your registered mobile number and email address.</h5></td>
			        </tr>
			        <tr>
				        <td class="hidden-xs  text-center">Enter OTP</td>
				        <td>
				        	<label class="item item-input" ng-class="{ 'has-errors' : forgotPin.otp.$touched && forgotPin.otp.$invalid, 'no-errors' :  forgotPin.otp.$touched && forgotPin.otp.$valid}">
								<input type="number" name="otp" ng-model="resetPin.otp" required placeholder="Enter OTP">
							</label>
							<div class="error-container" ng-show="forgotPin.otp.$error && forgotPin.$submitted" ng-messages="forgotPin.otp.$error">
								<div  class="error" >
									<div ng-message="required">You did not enter a field</div>
								</div>
							</div>
							<div class="error-container" ng-hide="forgotPin.newPassword.$error && forgotPin.$submitted">
								<div  class="error" ng-show="message" >
									Please enter your mobile number to reset PIN
								</div>
							</div>
				        </td>
			     	</tr>
				        <td class="hidden-xs  text-center">Enter New 4-Digit PIN</td>
				        <td>
				        	<label class="item item-input" ng-class="{ 'has-errors' : forgotPin.newPassword.$touched && forgotPin.newPassword.$invalid, 'no-errors' :  forgotPin.newPassword.$touched && forgotPin.newPassword.$valid}">
								<input type="password" name="newPassword" ng-model="resetPin.newPassword" maxlength="4" ng-minlength="4" ng-maxlength="4" required placeholder="Enter New 4-Digit PIN" ng-pattern="/^[0-9]{1,4}$/">
							</label>
							<div class="error-container" ng-show="forgotPin.newPassword.$error && forgotPin.$submitted" ng-messages="forgotPin.newPassword.$error">
								<div  class="error" >
									<div ng-message="required">You did not enter a field</div>
									<div ng-message="minlength, maxlength">New PIN must be 4 digits.</div>
									<div  ng-message="step, pattern">Enter digits only</div>
								</div>
							</div>
							<div class="error-container" ng-hide="forgotPin.newPassword.$error && forgotPin.$submitted">
								<div  class="error" ng-show="message" >
									Please enter your mobile number to reset PIN
								</div>
							</div>
				        </td>
			     	</tr>
			        <tr>
				        <td class="hidden-xs  text-center">Confirm 4-Digit PIN</td>
				        <td>
				        	<label class="item item-input" ng-class="{ 'has-errors' : forgotPin.confirmPassword.$touched && forgotPin.confirmPassword.$invalid, 'no-errors' :  forgotPin.confirmPassword.$touched && forgotPin.confirmPassword.$valid}">
								<input type="password" name="confirmPassword" ng-model="confirmPin" maxlength="4" ng-minlength="4" ng-maxlength="4" required placeholder="Confirm 4-Digit PIN" ng-pattern="/^[0-9]{1,4}$/">
							</label>
							<div class="error-container" ng-show="forgotPin.confirmPassword.$error && forgotPin.$submitted" ng-messages="forgotPin.confirmPassword.$error">
								<div  class="error" >
									<div ng-message="required">You did not enter a field</div>
									<div ng-message="minlength, maxlength">New PIN must be 4 digits.</div>
									<div  ng-message="step, pattern">Enter digits only</div>
								</div>
							</div>
							<div class="error-container" ng-hide="forgotPin.confirmPassword.$error && forgotPin.$submitted">
								<div  class="error" ng-show="message" >
									Please enter your mobile number to reset PIN
								</div>
							</div>
				        </td>
			     	</tr>
			     	<tr>
				     	<td colspan="2" class="text-center">
				     		<input class="button button-positive" type="submit" value="RESET PIN" />
				     	</td>
			     	</tr>

		     	</tbody>
	     	</table>
     	</div>
 	</form>

			     

</div>

