<div class="has-header payment_success">
    <div ng-controller="navTabsCtrl" class="col-md-12">
    <nav class="navbar navbar-default navbar-fixed-top"  >
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/summary"><img src="img/logo_priv.png" ></a>
        </div>

          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li ><a index="0" ng-click="defaultTab()"> Home</a></li>
              <li ng-repeat="liTab in navTabs" ><a index="$index + 1" ng-click="onClickTab(liTab)">{{liTab.title}}</a></li>
              <li index="4" ><a ng-controller="summaryPageCtrl" ng-click="signout()"> Sign Out</a></li>
            </ul>
          </div>
      </div>

    </nav>

  </div>
	<div class="padding" ng-controller="schemeText">
		<div class="list">
			<div class="item_success" >
				<h4 class="text-center">{{schemeName}}</h4>
				<p class="">{{schemeBody}} </p>
			</div>
			<div class="selectedFund" >
				<table>
					<thead>
						<th>Time Period*</th>
						<th>Annualized Returns</th>
					</thead>
					<tr>
						<td>1 Month</td>
						<td>{{returnsOneM}}</td>
					</tr>
					<tr>
						<td>3 Month</td>
						<td>{{returnsThreeM}}</td>
					</tr>
					<tr>
						<td>1 Year</td>
						<td>{{returnsOneY}}</td>
					</tr>
					<tr>
						<td>3 Year</td>
						<td>{{returnsThreeY}}</td>
					</tr>
					<tr>
						<td>5 Year</td>
						<td>{{returnsFiveY}}</td>
					</tr>
				</table>
			</div>
			<p><b>Current AUM:</b>{{currentAUM}}</p>
			<p><b>Tax Benefit: </b>{{TaxBenifits}}</p>
			<p><b><a ng-href={{schemeLink}}>Click here</a></b>  {{schemeLinkText}}</p>
			<p><sup>* As of April 2016</sup></p>
		</div>
	</div>
</div>
