<div ng-controller="loginChech">
<div class=" payment_success">
    <div ng-controller="navTabsCtrl" class="col-md-12">
    <nav class="navbar navbar-default navbar-fixed-top"  >
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/summary"><img src="img/logo_priv.png" ></a>
        </div>

          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li ><a index="0" ng-click="defaultTab()"> Home</a></li>
              <li ng-repeat="liTab in navTabs" ><a index="$index + 1" ng-click="onClickTab(liTab)">{{liTab.title}}</a></li>
              <li index="4" ><a ng-controller="summaryPageCtrl" ng-click="signout()"> Sign Out</a></li>
            </ul>
          </div>
      </div>

    </nav>

  </div>
	<div class="payment padding">
	  <div class="item_success text-center" >
		<p class="status">REQUEST STATUS</p>
	 </div>
	  <div class="success_block" >
		<div class="inner_block text-center">
			<h4 class="message">Thank you<br/></h4>
			<p class="scheduled_text"> Your request has been accepted.<br/>Instant withdrawal amount (Min INR 500) will be credited within 30 minutes to your registered bank account. For other amounts, see below<br/></p>
          <table class="table withdrawTable" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;" class="innerTable4">
          <thead>
            <th >Withdrawal</th>
            <th >Deposit</th>
          </thead>
          <tr>
            <td>Mon - Thur, before 2PM</td>
            <td>Next day 10 a.m.</td>
          </tr>
          <tr>
            <td>Mon - Thur, after 2PM.</td>
            <td>Day after next 10 a.m.</td>
          </tr>
          <tr>
            <td>Fri  before 2PM</td>
            <td>Monday 10 a.m.</td>
          </tr>
          <tr>
            <td>Fri after 2PM, Sat and Sun.</td>
            <td>Tuesday 10 a.m.</td>
          </tr>
        </table>

		  <p class="scheduled_text"> If the day of deposit is a Bank Holiday, money will be deposited the next working day.</p>
			<a class="button button-positive" href="#/summary">DONE</a>
		</div>
	 </div>
	</div>	
</div>
</div>