<div class="col-md-9 col-sm-9 col-xs-9 " ng-controller="transListController as listControl">
	<div class="row list recent_transactions" >
	  <div class="item item-avatar item-icon-right in in done done" ng-repeat="lists in products | orderBy:'-orderId'" ng-class="{'lastItem': $last}">
		<p class="success {{lists.txnTypeStr}}"><span>&#x20B9;</span> {{lists.amount|currency :"":2}}</p>
		<span class="item-note right">Transaction ID: {{ lists.orderId}}</span><br/>
		<span class="item-note left">{{lists.txnDate}} </span>
		<i class="icon ion-ios-checkmark-outline payment"></i>
	  </div>
	  <div class="noTxn" ng-show="noTxnIcon"><p>There are no transactions to display<br/>START INVESTING NOW <img ng-src="{{noTxnIcon}}"></p>
	  </div>
	</div>
</div>