<div class="col-md-9 col-sm-12 col-lg-9  col-xs-12" ng-controller="transListController as listControl">
	<div class="row list recent_transactions" >
	  <div class="list-group" ng-repeat="lists in products | orderBy:'-orderId'" ng-class="{'lastItem': $last}">
		<p class="success list-group-item {{lists.txnTypeStr}}"><span class="col-md-2">&#x20B9;{{lists.amount|currency :"":2}}</span>
		<span class="item-note right col-md-4">Transaction ID: {{ lists.orderId}}</span>
		{{lists.txnDate}} <span class="badge"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span></p>
		
	  </div>
	  <div class="noTxn" ng-show="noTxnIcon"><p>There are no transactions to display<br/>START INVESTING NOW <img ng-src="{{noTxnIcon}}"></p>
	  </div>
	</div>
</div>
