

<div class="slides" ng-controller="CarouselDemoCtrl">
  <div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval"  no-transition="false"  no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image[slide.id]}}" style="margin:auto;"><br/>
        <div class="carousel-caption">
          <h4>Slide {{slide.id+1}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

