<div ng-controller="loginChech">
<div ng-controller="navTabsCtrl">
<nav class="navbar navbar-default navbar-fixed-top"  >
  <div class="container">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand" ><img src="img/logo_priv.png" ></a>
    </div>
  </div>
</nav>
</div>
<div class="verification bankPage"  ng-controller="verifySuccessCtrl">
		<div class="">
			<div class="rows padding">		
				<h3 class="text-center" style="font-weight:600; text-transform:uppercase;color:#18bb9c;">Congratulations!</h3><br/>
				<p class="padding">We have received and verified your details and you can start investing.</p>
				<p class="padding">However, we will need additional details to process your investments, Please click on 'Complete Activatation' to provide these details</p>
				<p class="padding" style="padding: 0px 10px; margin: 0px;" ><b>1. Pan Card<br/>2. Address proof (Aadhar/ Driving Licence/ Voter ID/ Passport/ Ration Card)</b></p>
				<p >Please send us your details to <b>support@finozen.com</b> or by WhatsApp @<b>7899825545</b></p>
			</div>
		</div><br/><br/>
	<div class="text-center">
		<div class="button-bar " style="padding:0;">
			<button class="button button-positive" ng-click="investNowFunction()">Start Investing</button>
		</div>
	</div>
</div>
</div>