<div ng-controller="loginChech" style="height: 100%">
	<div ng-controller="navTabsCtrl" class="col-md-12">
		<nav class="navbar navbar-default navbar-fixed-top"  >
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/summary"><img src="img/logo_priv.png" ></a>
				</div>
			    <div class="collapse navbar-collapse" id="myNavbar">
		            <ul class="nav navbar-nav navbar-right">
		              <li ><a class="active-now" index="0" ng-click="defaultTab()"> Home</a></li>
		              <li ><a index="1" href="#/account"> Profile</a></li>
		              <li><a index="2" href="#/aboutUs"> About Us</a></li>
		              <li ><a index="3" href="#/faq"> FAQ</a></li>
		              <li index="4" ><a ng-controller="summaryPageCtrl" ng-click="signout()"> Sign Out</a></li>
		            </ul>
			    </div>
			</div>
		</nav>
	</div>
<div ng-controller="TabsCtrl"  class="row summaryTab">
<span ng-controller="transListController as listControl"></span>
	  <uib-tabset active="active"  vertical="true" class="col-md-4 col-sm-4 col-lg-4 sideTabs">
		<uib-tab ng-repeat="liTab in tabs" heading="{{liTab.title}}"  ng-click="onClickTab(liTab)"  disable="liTab.disabled">
		</uib-tab>
	  </uib-tabset>
	  
		<div id="mainView" class="col-md-8 col-sm-8 col-lg-8 sideBody">
			<div class="currentTabDiv" ng-include="currentTab"></div>

			<div class=" invest_button_footer"  style="width: 100%; background:#E5ECF4 ;" ng-controller="transactionAccessCtrl">
			  <div ng-click="addId()" class="col-md-6 col-sm-6 col-xs-6 col-lg-6 invest_button"><span  ng-click="withdrawCheck()"   class="button button-clear button-positive invest_btn red" ><img src="img/minus.png" ></span><br /><span class="invest_bottom_button red" >WITHDRAW</span></div>
			  <div ion-track-tap="invest" class="col-md-6 col-sm-6 col-xs-6 col-lg-6  invest_button"><span ng-click="investCheck()" class="button button-clear button-positive  invest_btn green" ><img src="img/plus.png" ></span><br /><span class="invest_bottom_button green" >ADD MONEY</span></div>
			</div>
		</div>
</div>

</div>