<div ng-controller="navTabsCtrl" class="col-md-12">
<nav class="navbar navbar-default navbar-fixed-top"  >
<div class="container">
<div class="navbar-header page-scroll">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#/summary"><img src="img/logo_priv.png" ></a>
</div>

  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li ><a index="0" ng-click="defaultTab()"> Home</a></li>
      <li ng-repeat="liTab in navTabs" ><a index="$index + 1" ng-click="onClickTab(liTab)">{{liTab.title}}</a></li>
      <li index="4" ><a ng-controller="summaryPageCtrl" ng-click="signout()"> Sign Out</a></li>
    </ul>
  </div>
</div>

</nav>

</div>

<div ng-controller="loginChech" class="screen_invest ">
		<div class="row bar bar-subheader invest_subheader">
		  <h2 class="title text-center" ng-controller="withdrawCtrl"><span >CURRENT BALANCE</span> <span style="color:#18bb9c">{{ balance() |currency:" &#x20B9; "}}</span></h2>
		</div>
			<br/><br/>
			
	<div class="bankPage " ng-controller="AuthWithdrawlCtrl">		
		<form name="withdrawForm" novalidate="" >
			<div class="list row">
				<div style="text-align: center;">
					<p >How much would you like to withdraw ?</p>
				</div>
				<div style="text-align: center;width: 50%;margin: auto;">
					<label class="item item-input" ng-class="{ 'has-errors' : withdrawForm.amount.$touched && withdrawForm.amount.$invalid, 'no-errors' :  withdrawForm.amount.$touched && withdrawForm.amount.$valid}">
						<input type="number" name="amount" ng-disabled="checked_withdraw" ng-model="amount" ng-pattern="/^[0-9]{1,9}$/" max="{{balance()}}" min="100">
					</label>
				</div>
				<div class="error-container text-center" ng-show="withdrawForm.amount.$error && withdrawForm.$submitted" ng-messages="withdrawForm.amount.$error">
					<div  class="error" >
						<div  ng-message="max" ng-hide="checked_withdraw" >
							Enter valid amount
						</div>
						<div  ng-message="min" ng-hide="checked_withdraw" >
							 Minimum withdrawal amount is <span>&#x20B9;</span> 100
						</div>
						<div  ng-message="pattern" ng-hide="checked_withdraw" >
							Enter valid Integer
						</div>
						<div ng-hide="checked_withdraw">{{withdraw_error}} </div>
						<div>{{withdraw_Networkerror}} </div>
					</div>


				</div>
				<br/>
				<div class="text-center">
				<label class="withdraw_all">
					<input ng-model="checked_withdraw" type="checkbox" id="withdraw_money" ng-change="amountClear()" placeholder="Enter Amount" style="margin-right: 4px;"><label for="withdraw_money" >Withdraw my complete balance </label>
				</label>
				</div>
				<div ><br/>
					<div class="text-center">
						<button ion-track-tap="withdraw confirm" class="button button-positive" type="submit" ng-click="Withdrawl(withdrawForm)" >WITHDRAW</button>
					</div><br/>

				  		<table class="table withdrawTable" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;" class="innerTable4">
							<thead>
								<th >Withdrawal</th>
								<th >Deposit</th>
							</thead>
							<tr>
								<td>Mon - Thur, before 2PM</td>
								<td>Next day 10 a.m.</td>
							</tr>
							<tr>
								<td>Mon - Thur, after 2PM.</td>
								<td>Day after next 10 a.m.</td>
							</tr>
							<tr>
								<td>Fri  before 2PM</td>
								<td>Monday 10 a.m.</td>
							</tr>
							<tr>
								<td>Fri after 2PM, Sat and Sun.</td>
								<td>Tuesday 10 a.m.</td>
							</tr>
						</table>

					<br/><br/>
					<p style="font-size: 14px;">Working days Mon-Fri. If the day of deposit is a Bank Holiday, money will be deposited the next working day.</p>
				</div>
			</div>
		</form>
	</div>
</div>
